/* Base styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

/* Main title styles */
.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.mainTitle svg {
    transform: translate(2%, 0%);
    width: 100%; /* Adjust the size of the logo if needed */
    height: auto;
}



.mainTitle h1 {
    transform: translate(0, -600%);
    margin: 0 0 0;
    font-size: 2rem;
}

/* Other styles remain unchanged */
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

/* Scroll Down Button Styles */
#scrollButtonDown {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: fadeInOut 3s infinite;
    z-index: 1000;
}

/* Scroll Up Button Styles */
#scrollButtonUp {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: fadeInOut 3s infinite;
    z-index: 1000;
}

/* Projects Section Styles */
#projects {
    margin: 100vh 0 0 0; /* Pushes the section down to make space for the scroll indicator */
    padding: 50px;
    color: white;
    text-align: center;
    background-color: #222;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.project-title {
    margin: 15px 0 10px;
    font-size: 1.5rem;
    color: #eee;
}

.project-description {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #ddd;
}

.more-info {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-info:hover {
    background-color: #000000;
}

/* Fade-in and fade-out animation for scroll buttons */
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
